.storyComponent{
    display: flex;
    align-items: center;
    flex-direction: column;
    // position: absolute;
    width: 100%;
    // min-height: calc(100vh - 100px);
    // max-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    // top: 100px;
    // left: 50%;
    // transform: translateX(-50%);
    
}