.storyParagraph{
    font-size: 40px;
}

span{
    cursor: pointer;
}

.highlight{
    color: rgb(204, 154, 125);
    font-weight: 700;
}

.translation{
    color: rgb(141, 201, 107);
    font-weight: 700;
    cursor: default;
    margin-right: 100%;

}